<div class="container py-2" @fade>
  <div class="row">
    <div class="col-lg-6 text-center">
      <img class="pic1" src="../../../../assets/params/images/teaching/Teaching3.jpg" alt="">
    </div>
    <div class="col-lg-6 text-center text">
      <h3>Teaching</h3> <br>
      <i>Mathematical Institute, University of Oxford</i> | <i>Oxford, UK, 2020 &ndash; 2022</i><br><br>
        String Theory I, class tutor, HT 2022.<br>
        String Theory II, TA, class tutor, TT 2020, TT 2021.<br>
        Supersymmetry and Supergravity, TA, HT 2019.<br>
        <br>
            
  
      <i>Niels Bohr Institute, University of Copenhagen</i> | <i>Copenhagen, DK, </i> 2016 &ndash; 2018<br><br>
      Introduction to Gauge/Gravity Duality, class tutor, block 4 2018.<br>
      Analytical Mechanics, class tutor, block 1 2016.<br>
      Supersymmetry and Supergravity, TA, HT 2019.<br>
      
    </div>
  </div>
  <div class="row" style="margin-top: 50px;">
    <div class="col-lg-6 text-center text">
      <h3>Supervision Activities</h3><br>
        <i>SCGP, Stony Brook U.</i> | <i>Stony Brook, NY, USA, </i>  05/2023 &ndash; 05/2024<br> <br>
          
        Supervision of project on generalized symmetries in holography for first-year PhD student Shihab Fadda.
        
    </div>
    <div class="col-lg-6 text-center">
      <img class="pic1" src="../../../../assets/params/images/teaching/Teaching4.png" alt="">
    </div>
  </div>
  
</div>
