<div class="container py-2" @fade>
  <div>
    <div class="right">

    </div>
    <div class="left">
      <img src="../../../../assets/params/images/home/marieke.jpg" class="marieke">

      <h2>
        Marieke van Beest
      </h2>
      <br>
      <p>
        I am a Senior Data Scientist at Halfspace, where I do advanced machine learning and analytics. Before that, I was a Research Assistant Professor at the Simons Center for Geometry and Physics, New York, USA. My research was centered on problems in Quantum Field Theory and String Theory.
      </p>
    
    </div>
    <div class="footCorrect"></div>
  </div>
  
  
</div>
