<div class="container py-2" @fade>
  <div>
    <div class="right">

    </div>
    <div class="left">
      <img src="../../../../assets/params/images/home/marieke.jpg" class="marieke">

      <h2>
        Marieke van Beest
      </h2>
      <br>
      <p>
        I am a Senior Data Scientist at Halfspace, and former theoretical physicist. I now do advanced machine learning and analytics at one of Europe's top AI companies.
      </p>
    
    </div>
    <div class="footCorrect"></div>
  </div>
  
  
</div>
