<header class="navbar navbar-expand-lg navbar-light fixed-top nga-navbar">
  <nav class="container" aria-label="Main navigation">
    
    <div class="titleMarieke">
      <a routerLink="/" class="navbar-brand">
        <span class="nga-logo"> marieke van beest</span>
      </a>
    </div>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-light navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link nga-nav-link" aria-current="page" routerLink="/">
            <i class="fab  me-1"></i>home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nga-nav-link" aria-current="page" routerLink="/about">
            <i class="fab me-1"></i>about me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nga-nav-link" aria-current="page" routerLink="/publications">
            <i class="fas  me-1"></i>publications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nga-nav-link" aria-current="page" routerLink="/talks">
            <i class="fas  me-1"></i>talks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nga-nav-link" aria-current="page" routerLink="/teaching">
            <i class="fas  me-1"></i>teaching</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nga-nav-link" aria-current="page" routerLink="/outreach">
            <i class="fas  me-1"></i>outreach</a>
        </li>
      </ul>
        
      <div class="links">
            <a type="button" class="nga-btn-social nga-btn-linkedin"  href="https://www.linkedin.com/in/marieke-tunstall-van-beest-526650106/"
            aria-label="Linkedin Marieke" target=”_blank”>
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a type="button" class="nga-btn-social nga-btn-inspire" href="https://inspirehep.net/authors/1790663"
            aria-label="InspireHep Marieke" target=”_blank”>
            <img src="assets/icons/inspire-square.svg" class="inspire">
          </a>
          <a type="button" class="nga-btn-social nga-btn-orcid" href="https://orcid.org/0000-0001-6424-941X"
            aria-label="Orcid Marieke" target=”_blank”>
            <img src="assets/icons/orcid-square.svg" class="orcid">
          </a>
      </div>
        
      
      
    </div>
  </nav>
</header>