<div class="container py-5" @fade>
  <div class="row">
    <div class="col-0 col-md-3 pic">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 textBox">
                <h3>Welcome</h3>
                <p>Here are a few notes about my experience and interests.</p>

            </div>
            
        </div>
        <div class="row">
            <img src="../../../../assets/params/images/aboutMe/About_me_dummy_billede2.jpg" class="marieke" alt="Marieke van Beest working">
        <!-- <div class='box'></div> -->
        </div>
        
    </div>
    <div class="col-0 col-md-1"></div>
    <div class="col-12 col-md-8">
        <div class="accordion-wrap" id="accordionAbout" >
            <a *ngFor="let about of abouts; let i=index;"  [ngClass]="(i==0?'accordion':'accordion collapsed')" data-bs-toggle="collapse" [attr.data-bs-target]="'#panelsStayOpen-collapse'+i" role="button" aria-expanded="false" >
            <div class="teaser">
                <div class="title">
                    <h3>{{about.title}}</h3>
                </div>
            </div>
                <!-- <div [ngClass]="(i==0?'show collapse':'collapse')" data-bs-parent="#accordionAbout" [attr.id]="'panelsStayOpen-collapse'+i"> -->
                <div [ngClass]="(i==0?'show collapse':'collapse')" [attr.id]="'panelsStayOpen-collapse'+i">
          <div class="content" [innerHTML]="about.html | sanitizedHtml">
            
          </div>
        </div>
                
                <div class="accordion-toggle">
                    <span class="one"></span>
                    <span class="two"></span>
                </div>
            </a>
        </div>
    </div>
    <p style="text-align: right; margin-top: 20px;">
        Contact: <b> mariekevanbeest&#64;gmail.com </b>.
    </p> 
</div>


